*{
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


#black{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstelm{
    width: 200px;
    height: 200px;
    background-color: white;
    overflow-x: hidden;
}
.small{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    overflow-x: hidden;
    visibility: hidden;
}
.medium{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Large{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}


/* ====================================================== */
/* image trimmers down here */


/* ======================================================================================= */
/* medium bubbles below */

/* =========================== */
/* python */
.imgTrim19M{
    width: 4.5rem;
    height: auto;
}

/* ============================ */
/* java */
.imgTrim20M{
    width: 4.5rem;
    height: auto;
}

/* ============================ */
/* ubuntu */
.imgTrim21M{
    width: 5rem;
    height: auto;
}

/* ============================ */
/* unity */
.imgTrim22M{
    width: 5rem;
    height: auto;
}

/* ============================ */
/* next.js */
.imgTrim23M{
    width: 4.5rem;
    height: auto;
}

/* ============================ */
/* html */
.imgTrim24M{
    width: 4.5rem;
    height: auto;
    padding-top: 0.5rem;
}

/* ============================ */
/* Nvdia */
.imgTrim25M{
    width: 4.5rem;
    height: auto;
}

/* ============================ */
/* Google CLoud */
.imgTrim26M{
    width: 4.5rem;
    height: auto;
    padding-bottom: 0.5rem;
}

/* ============================ */
/* aws */
.imgTrim27M{
    width: 4.5rem;
    height: auto;
}




/* ========================================================================================== */
/* large bubbles below */


/* ============================ */
/* github */
.imgTrim{
    width: 9rem;
    height: auto;
}

/* ============================ */
/* docker */
.imgTrim29{
    width: 8.5rem;
    height: auto;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

/* ============================= */
/* etherium */
.imgTrim30{
    width: 5rem;
    height: auto;
}

/* ============================== */
/* css3 */
.imgTrim31{
    width: 7rem;
    height: auto;
    padding-top: 1rem;
}

/* ============================== */
/* node js */
.imgTrim33{
    width: 8rem;
    height: auto;
    padding-top: 1rem;
}

/* ============================== */
/* react */
.imgTrim34{
    width: 7rem;
    height: auto;
}


/* ============================ */
/* javascript */
.imgTrim35{
    width:6rem ;
    height: auto;
}
/* ============================ */
/* kubernetis */
.imgTrim36{
    width: 8rem;
    height: auto;
    padding-bottom: 0.4rem;
}

/* ============================= */
/* solidity */
.imgTrim37{
    width: 5rem;
    height: auto;
}



















/*
#button{
    width: 200px;
    height: 200px;
    background-color: rgba(153, 11, 11,0);
    transform: rotate(-90deg);
    
}

#circle{
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    animation: start 2s ease-in-out forwards;
    pointer-events: none;
}

@keyframes start {
    100%{
        stroke-dashoffset: 0;
        display: none;
    }
}
#circle2{
    width: 180px;
    height: 180px;
    background-color: rgb(2, 2, 2);
    border-radius: 50%;
    position: absolute;
    color: rgba(202, 198, 198,1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;


    /* animation *//*
    animation-name: inside;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
    animation-timing-function: ease-in-out;

}
@keyframes inside {
    100%{
        color: black;
        font-size: 1.2rem;
        background-color: rgb(104, 100, 100);
        box-shadow: 4px 4px rgb(78, 75, 75);
    }
}
*/