

/* ======================================= */
/* fonts used in this website */

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Poppins', sans-serif; */


:root{
    --blue: #0148a3;
    --josef: 'Josefin Sans', sans-serif;
    --franklin: 'Libre Franklin', sans-serif;
    --poppins: 'Poppins', sans-serif;
    
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}